# Android/IntelliJ
*.iml
.idea/
.gradle/
local.properties
captures/
.externalNativeBuild/
.cxx/

# Gradle
build/
**/build/
!gradle/wrapper/gradle-wrapper.jar

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Keystores (do not commit sensitive keys)
*.jks
*.keystore

# Generated
app/release/
app/debug/

# Misc
/.vs/
/.vscode/

.specstory